.interior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;

    @include respond(phone) {
        flex-direction: column;
        margin-top: 3rem;
        padding: .1rem;
    }

    &__image {
        width: 100%;
    }

    &__text {
        flex-basis: 30%;

        &-paragrahp {
            width: 38rem;
            color: $color-text-primary;
            font-family: 'Montserrat';
            font-size: 2.4rem;
            font-weight: 300;
            line-height: 2.9rem;

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }

    &__figure {
        flex-basis: 55%;
        position: relative;
        margin-bottom: 10rem;
    }

    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__designed {
        width: 350px;
        height: 170px;
        background-color: $bg-color;
        position: absolute;
        right: 3rem;
        top: 85%;
        padding: 2rem 3rem;
        color: $color-white;

        @include respond(phone) {
            width: auto;
            right: 2rem;
            top: 80%;
        }

        &-image {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }

        &-text {
            margin-left: 2.5rem;
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
        }

        &-name {            
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }

        &-job {
            color: #828282;
            font-size: 1.2rem;
        }

        &-message {
            font-family: 'Lora', sans-serif;
            font-weight: bold;
            font-size: 2rem;
            line-height: 3.1rem;
        }
    }
}