.header {
    padding: 2rem 0 13rem;
}

.logo {
    padding: .89rem;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Crimson Pro', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
}