<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap" rel="stylesheet">
    <title>Interior Consultant</title>
</head>
<body class="container">
    <header class="header">
        <nav class="navigation">
            <input type="checkbox" id="navi-toggle" class="navigation__toggle">
            <span class="logo">this interior</span>
            <label class="menu-icon" id="btn-navi" for="navi-toggle">
                <span class="navigation__icon"></span>
            </label>
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link navigation__link--active">Home</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Collection</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">About</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="interior">
            <section class="interior__text">
                <h1 class="heading-primary u-margin-bottom-medium">Modern interior</h1>
                <p class="interior__text-paragrahp u-margin-bottom-medium">A full-Service residential & commercial interior design and staging company offering professional organizing & eco-services.</p>
                <a href="#" class="btn btn-text u-margin-bottom-medium">Read more &rarr;</a>
            </section>
            <section class="interior__figure">
                <figure>
                    <img class="interior__image" src="static/img/photo1.png" />
                </figure>
                <div class="interior__designed">
                    <div class="interior__group">
                        <img class="interior__designed-image" src="static/img/photo2.png" alt="Designed">
                        <div class="interior__designed-text">
                            <span class="interior__designed-name">Aliza Webber</span>
                            <span class="interior__designed-job">Interior designer</span>
                        </div>
                    </div>
                    <div class="interior__designed-message">Designed in 2020 by Aliza Webber</div>
                </div>
            </section>
        </article>    
    </main>
    <footer class="footer">
        Reynaldo Josue Cano Barcenas@DevChallenges.io
    </footer>
</body>
</html>